In [2]:
import os

import pandas as pd

os.chdir("../")  # switch to repo root

In [115]:
from importlib import reload
from pathlib import Path

import numpy as np

import animaloc_improved.tools.latex_utils as lu

BASE_PATH = Path("data/test_results")
!ls -1 data/test_results/

after pyenv init
frcnn-resnet101-full-imgs/
frcnn-resnet101-full-imgs-xlsx/
frcnn-resnet50/
frcnn-resnet50-full-imgs/
frcnn-resnet50-full-imgs-xlsx/
herdnet_v0/
herdnet_v1/
herdnet_v1_fullimgs/
herdnet_v2/
herdnet_v2_full_cnts_metrics_v2/
herdnet_v2_full_imgs/
herdnet_v2_hn/
herdnet_v2_hn2/
herdnet_v3_full_imgs/
herdnet_v4_full_imgs/

In [7]:
!ls -1 data/test_results/herdnet_v2_hn2

after pyenv init
confusion_matrix.csv
detections.csv
metrics_results.csv
plots/

In [10]:
pd.read_csv(BASE_PATH / "herdnet_v2_hn2/metrics_results.csv")

,class,species,n,recall,precision,f1_score,confusion,mae,mse,rmse,ap
0,1,Alcelaphinae,675,0.736296,0.682692,0.708482,0.065789,2.475610,17.085366,4.133445,0.572914
1,2,Buffalo,349,0.415473,0.690476,0.518784,0.185393,4.916667,90.583333,9.517528,0.338610
2,3,Kob,477,0.740042,0.784444,0.761597,0.197727,1.462264,8.216981,2.866528,0.657333
3,4,Warthog,74,0.270270,0.289855,0.279720,0.090909,2.113636,8.704545,2.950347,0.125415
4,5,Waterbuck,36,0.472222,0.447368,0.459459,0.260870,2.000000,6.428571,2.535463,0.283018
5,6,Elephant,688,0.556686,0.475776,0.513061,0.000000,3.133333,20.314286,4.507137,0.369244
6,binary,binary,2299,0.686385,0.686087,0.686236,0.000000,2.515504,19.887597,4.459551,0.466484

In [11]:
pd.read_csv(BASE_PATH / "herdnet_v3_full_imgs/metrics_results.csv")

,class,species,n,recall,precision,f1_score,confusion,mae,mse,rmse,ap
0,1,Alcelaphinae,675,0.800000,0.668317,0.728254,0.070568,2.243243,10.693694,3.270121,0.661079
1,2,Buffalo,349,0.641834,0.756757,0.694574,0.100402,2.387755,20.142857,4.488079,0.596180
2,3,Kob,477,0.696017,0.790476,0.740245,0.267108,1.461538,7.974359,2.823891,0.654238
3,4,Warthog,74,0.378378,0.231405,0.287179,0.096774,1.984375,7.140625,2.672195,0.162655
4,5,Waterbuck,36,0.527778,0.612903,0.567164,0.321429,2.071429,8.071429,2.841026,0.455121
5,6,Elephant,688,0.607558,0.392857,0.477169,0.000000,5.126050,288.336134,16.980463,0.460391
6,binary,binary,2299,0.765550,0.642336,0.698551,0.000000,3.306202,142.631783,11.942855,0.547371

In [12]:
pd.read_csv(BASE_PATH / "herdnet_v4_full_imgs/metrics_results.csv")

,class,species,n,recall,precision,f1_score,confusion,mae,mse,rmse,ap
0,1,Alcelaphinae,675,0.795556,0.586885,0.675472,0.069324,2.522388,14.462687,3.802984,0.638703
1,2,Buffalo,349,0.647564,0.614130,0.630404,0.103175,2.267857,14.125000,3.758324,0.518868
2,3,Kob,477,0.702306,0.632075,0.665343,0.260486,1.598485,7.598485,2.756535,0.622942
3,4,Warthog,74,0.364865,0.209302,0.266010,0.156250,1.767123,5.000000,2.236068,0.188236
4,5,Waterbuck,36,0.555556,0.400000,0.465116,0.259259,1.310345,3.517241,1.875431,0.438088
5,6,Elephant,688,0.697674,0.212202,0.325424,0.000000,12.774194,899.725806,29.995430,0.413572
6,binary,binary,2299,0.792084,0.428068,0.555776,0.000000,7.965116,449.748062,21.207264,0.494210

In [101]:
name_to_mnemo = {
    "frcn_resnet101_full_imgs": "FRC-101",
    "frcnn-resnet101-full-imgs": "FRC-101",
    "frcnn-resnet50-full-imgs": "FRC-50",
    "frcn_resnet50_full_imgs": "FRC-50",
    "herdnet_v1_fullimgs": "HN-1",
    "herdnet_v1_full_imgs": "HN-1",
    "herdnet_v2_full_imgs": "HN-2",
    "herdnet_v2_hn2": "HN-2-hn",
    "herdnet_v2_hn2_full_imgs": "HN-2-hn",
    "herdnet_v3_full_imgs": "HN-3",
    "herdnet_v4_full_imgs": "HN-4",
}

In [112]:
parts = []
for model_dir in sorted(BASE_PATH.glob("*")):
    dir_name = model_dir.name
    if (
        dir_name.endswith("-xlsx")
        or dir_name.startswith(".")
        or "cnts_metrics" in dir_name
        or dir_name == "frcnn-resnet50"
        or dir_name in ("herdnet_v0", "frcnn-resnet50", "herdnet_v2_hn", "herdnet_v1", "herdnet_v2")
    ):
        continue
    # print(list((BASE_PATH / dir_name).glob('*')))
    part = pd.read_csv(BASE_PATH / dir_name / "metrics_results.csv")
    part["Modelo"] = name_to_mnemo[dir_name]
    parts.append(part[part["species"] == "binary"])

df = pd.concat(parts)

for metric in ["recall", "precision", "f1_score", "ap"]:
    df[metric] = np.round(df[metric] * 100, 1)

In [116]:
df1 = df[["Modelo", "recall", "precision", "f1_score", "ap"]].rename(
    columns={"recall": "Recall", "precision": "Precisión", "ap": "AP", "f1_score": "Puntaje\nF1"}
)
df1

    Modelo  Recall  Precisión  Puntaje\nF1    AP
6  FRC-101    77.6       31.5         44.8  42.0
6   FRC-50    78.0       27.4         40.6  40.5
6     HN-1    83.0       24.9         38.3  46.5
6     HN-2    78.1       46.0         57.9  51.6
6  HN-2-hn    68.6       68.6         68.6  46.6
6     HN-3    76.6       64.2         69.9  54.7
6     HN-4    79.2       42.8         55.6  49.4

In [120]:
reload(lu)
print(
    lu.df_to_latex(df1, caption="Métricas de Recall/Precisión binarias sobre el conjunto de test")
)

\begin{table}[h!]
\renewcommand{\arraystretch}{1.3}
\centering
\begin{tabular}{c c c c c}
\hline
\textbf{Modelo} & \textbf{Recall} & \textbf{Precisión} & \makecell{\textbf{Puntaje}\\\textbf{F1}} & \textbf{AP}\\
\hline
FRC-101 & 77.6 & 31.5 & 44.8 & 42.0\\
FRC-50 & 78.0 & 27.4 & 40.6 & 40.5\\
HN-1 & 83.0 & 24.9 & 38.3 & 46.5\\
HN-2 & 78.1 & 46.0 & 57.9 & 51.6\\
HN-2-hn & 68.6 & 68.6 & 68.6 & 46.6\\
HN-3 & 76.6 & 64.2 & 69.9 & 54.7\\
HN-4 & 79.2 & 42.8 & 55.6 & 49.4\\
\hline
\end{tabular}
\caption{Métricas de Recall/Precisión binarias sobre el conjunto de test}
\end{table}

In [123]:
df = pd.read_csv(BASE_PATH / "herdnet_v2_hn2/metrics_results.csv")
df

,class,species,n,recall,precision,f1_score,confusion,mae,mse,rmse,ap
0,1,Alcelaphinae,675,0.736296,0.682692,0.708482,0.065789,2.475610,17.085366,4.133445,0.572914
1,2,Buffalo,349,0.415473,0.690476,0.518784,0.185393,4.916667,90.583333,9.517528,0.338610
2,3,Kob,477,0.740042,0.784444,0.761597,0.197727,1.462264,8.216981,2.866528,0.657333
3,4,Warthog,74,0.270270,0.289855,0.279720,0.090909,2.113636,8.704545,2.950347,0.125415
4,5,Waterbuck,36,0.472222,0.447368,0.459459,0.260870,2.000000,6.428571,2.535463,0.283018
5,6,Elephant,688,0.556686,0.475776,0.513061,0.000000,3.133333,20.314286,4.507137,0.369244
6,binary,binary,2299,0.686385,0.686087,0.686236,0.000000,2.515504,19.887597,4.459551,0.466484

In [129]:
for metric in ["recall", "precision", "f1_score", "ap"]:
    df[metric] = np.round(df[metric] * 100, 1)

In [130]:
df1 = df[["species", "n", "recall", "precision", "f1_score", "ap"]].rename(
    columns={
        "species": "Especie",
        "recall": "Recall",
        "precision": "Precisión",
        "ap": "AP",
        "n": r"$\mathbf{\Sigma}(C^*)$",
        "f1_score": "Puntaje\nF1",
    }
)
df1

        Especie  $\mathbf{\Sigma}(C^*)$  Recall  Precisión  Puntaje\nF1    AP
0  Alcelaphinae                     675    73.6       68.3         70.8  57.3
1       Buffalo                     349    41.5       69.0         51.9  33.9
2           Kob                     477    74.0       78.4         76.2  65.7
3       Warthog                      74    27.0       29.0         28.0  12.5
4     Waterbuck                      36    47.2       44.7         45.9  28.3
5      Elephant                     688    55.7       47.6         51.3  36.9
6        binary                    2299    68.6       68.6         68.6  46.6

In [1]:
print(
    lu.df_to_latex(
        df1,
        caption=(
            "Métricas de Recall/Precisión por especie sobre el conjunto de test "
            "para el modelo HN-2-hn"
        ),
    )
)

NameError: name 'lu' is not defined

## Count metrics V2

In [7]:
!python animaloc_improved/tools/count_metrics_v2.py \
  --gt "data/gt-preprocessed/csv/test_big_size_A_B_E_K_WH_WB-points.csv" \
  --preds "data/test_results/herdnet_v1_fullimgs/detections.csv" \
  --out-dir "data/cnt_metrics_v2/herdnet_v1_full_imgs/"

after pyenv init
2025-11-18 10:48:22.690 | INFO     | __main__:_load_and_agg_g_truth:33 - Loaded ground truth data g_truth.shape=(2299, 4), unique images: g_truth['images'].nunique()=258
2025-11-18 10:48:22.697 | INFO     | __main__:_load_and_agg_preds:53 - Loaded prediction data predicted.shape=(7672, 13), unique images predicted['images'].nunique()=258
2025-11-18 10:48:22.698 | INFO     | __main__:_load_and_agg_preds:57 - 0 invalid rows found, out of 7672, dropping them
2025-11-18 10:48:22.701 | INFO     | __main__:main:210 - Writing merged data frame with gt-counts, pred-counts and errors by [Image, Especie] to: data/cnt_metrics_v2/herdnet_v1_full_imgs/g_truth_pred_cnts_errors_by_image_species.csv
2025-11-18 10:48:22.707 | INFO     | __main__:main:227 - Writing merged data frame with gt-counts, pred-counts and errors by [Image] to:data/cnt_metrics_v2/herdnet_v1_full_imgs/g_truth_pred_cnts_errors_by_image.csv
2025-11-18 10:48:22.716 | INFO     | __main__:main:237 - Aggregated count metrics:
|    | Especie      |   Σ(C) |   M(C) |   M(Ĉ) |   MAE |   RMSE |    MPE |   MAPE |
|---:|:-------------|-------:|-------:|-------:|------:|-------:|-------:|-------:|
|  0 | Alcelaphinae |    675 |    3.7 |   10.2 |   6.7 |    8.5 |  246.2 |  247.1 |
|  1 | Buffalo      |    349 |    2.7 |    5.2 |   2.8 |    4.3 |  144.9 |  151.4 |
|  2 | Kob          |    477 |    3   |    3.7 |   2.1 |    3   |   30.6 |   66.6 |
|  3 | Warthog      |     74 |    0.6 |    4.7 |   4.3 |    7.6 |  199.6 |  215.5 |
|  4 | Waterbuck    |     36 |    0.6 |    2.3 |   2.4 |    3.6 |  -72.2 |   72.2 |
|  5 | Elephant     |    688 |    4.6 |   25.2 |  20.7 |   37.4 | 1326.5 | 1326.5 |
|  0 | binaria      |   2299 |    8.9 |   29.7 |  20.8 |   33.2 |  889.1 |  889.1 |
2025-11-18 10:48:22.717 | INFO     | __main__:main:241 - Outputs written:
- data/cnt_metrics_v2/herdnet_v1_full_imgs/g_truth_pred_cnts_errors_by_image_species.csv
- data/cnt_metrics_v2/herdnet_v1_full_imgs/g_truth_pred_cnts_errors_by_image.csv
- data/cnt_metrics_v2/herdnet_v1_full_imgs/aggregated_count_metrics_v2.csv

In [11]:
!ls -lrt data/cnt_metrics_v2
!ls -lrt data/cnt_metrics_v2/herdnet_v1_full_imgs

after pyenv init
total 0
drwxr-xr-x@ 5 mrestrepo  staff  160 Nov 18 10:48 herdnet_v1_full_imgs/
drwxr-xr-x@ 5 mrestrepo  staff  160 Nov 18 10:55 frcn_resnet50_full_imgs/
drwxr-xr-x@ 5 mrestrepo  staff  160 Nov 18 10:56 frcn_resnet101_full_imgs/
drwxr-xr-x@ 5 mrestrepo  staff  160 Nov 18 10:56 herdnet_v2_full_imgs/
drwxr-xr-x@ 5 mrestrepo  staff  160 Nov 18 10:58 herdnet_v2_hn2_full_imgs/
drwxr-xr-x@ 5 mrestrepo  staff  160 Nov 18 10:59 herdnet_v3_full_imgs/
drwxr-xr-x@ 5 mrestrepo  staff  160 Nov 18 11:00 herdnet_v4_full_imgs/
after pyenv init
total 144
-rw-r--r--@ 1 mrestrepo  staff  48704 Nov 18 11:00 g_truth_pred_cnts_errors_by_image_species.csv
-rw-r--r--@ 1 mrestrepo  staff  20065 Nov 18 11:00 g_truth_pred_cnts_errors_by_image.csv
-rw-r--r--@ 1 mrestrepo  staff    431 Nov 18 11:00 aggregated_count_metrics_v2.csv

In [14]:
from pathlib import Path

model_dirs = list(Path("data/cnt_metrics_v2").glob("*"))
model_dirs

[PosixPath('data/cnt_metrics_v2/frcn_resnet50_full_imgs'),
 PosixPath('data/cnt_metrics_v2/herdnet_v3_full_imgs'),
 PosixPath('data/cnt_metrics_v2/herdnet_v2_full_imgs'),
 PosixPath('data/cnt_metrics_v2/herdnet_v4_full_imgs'),
 PosixPath('data/cnt_metrics_v2/frcn_resnet101_full_imgs'),
 PosixPath('data/cnt_metrics_v2/herdnet_v1_full_imgs'),
 PosixPath('data/cnt_metrics_v2/herdnet_v2_hn2_full_imgs')]

In [68]:
parts = []


for model_dir in sorted(model_dirs):
    name = model_dir.name
    full_df = pd.read_csv(model_dir / "aggregated_count_metrics_v2.csv")
    part = full_df[full_df["Especie"] == "binaria"].copy()
    part["Modelo"] = name_to_mnemo[name]

    parts.append(part)

df = pd.concat(parts)
df["Σ(Ĉ)"] = df["Σ(Ĉ)"].astype(int)

df = df["Modelo,M(Ĉ),Σ(Ĉ),ME,MAE,RMSE,MPE,MAPE".split(",")]

# Renames to prepare for latex output
df = df.rename(
    columns={
        "M(Ĉ)": r"$\mbox{M}(\hat{C})$",
        "Σ(Ĉ)": r"$\mathbf{\Sigma}(\hat{C})$",
        "MPE": "MPE\n[\\%]",
        "MAPE": "MAPE\n[\\%]",
    }
)
df

,Modelo,$\mbox{M}(\hat{C})$,$\mathbf{\Sigma}(\hat{C})$,ME,MAE,RMSE,MPE\n[\%],MAPE\n[\%]
6,FRC-101,22.0,5667,13.1,13.2,25.0,549.3,550.9
6,FRC-50,25.3,6534,16.4,16.5,34.5,676.3,677.1
6,HN-1,29.7,7672,20.8,20.8,33.2,889.1,889.1
6,HN-2,15.1,3904,6.2,6.7,14.5,280.7,283.7
6,HN-2-hn,8.9,2300,0.0,2.5,4.5,42.8,71.9
6,HN-3,10.6,2740,1.7,3.3,11.9,94.1,109.3
6,HN-4,16.5,4254,7.6,8.0,21.2,323.7,326.4

In [32]:
{
    name: name.replace("_full_imgs", "").replace("herdnet_v", "HN-").replace("frcn_resnet", "FRC-")
    for name in df["Modelo"].values
}

{'frcn_resnet101_full_imgs': 'FRC-101',
 'frcn_resnet50_full_imgs': 'FRC-50',
 'herdnet_v1_full_imgs': 'HN-1',
 'herdnet_v2_full_imgs': 'HN-2',
 'herdnet_v2_hn2_full_imgs': 'HN-2_hn2',
 'herdnet_v3_full_imgs': 'HN-3',
 'herdnet_v4_full_imgs': 'HN-4'}

In [30]:
df["Modelo"].values

array(['frcn_resnet101_full_imgs', 'frcn_resnet50_full_imgs',
       'herdnet_v1_full_imgs', 'herdnet_v2_full_imgs',
       'herdnet_v2_hn2_full_imgs', 'herdnet_v3_full_imgs',
       'herdnet_v4_full_imgs'], dtype=object)

In [69]:
df.columns = [col.replace("Σ", r"$\Sigma$") for col in df.columns]
print(
    lu.df_to_latex(
        df,
        caption=(
            "Métricas de Conteo, caso binario, para los modelos entrenados. "
            "El promedio real del conteo de animales en el conjunto de test es "
            r"$\mbox{M}(C^*) = $8.9 y la suma de los conteos es $\Sigma(C^*) = 2999$"
        ),
    )
)

\begin{table}[h!]
\renewcommand{\arraystretch}{1.3}
\centering
\begin{tabular}{c c c c c c c c}
\hline
\textbf{Modelo} & \textbf{$\mbox{M}(\hat{C})$} & \textbf{$\mathbf{\Sigma}(\hat{C})$} & \textbf{ME} & \textbf{MAE} & \textbf{RMSE} & \makecell{\textbf{MPE}\\\textbf{[\%]}} & \makecell{\textbf{MAPE}\\\textbf{[\%]}}\\
\hline
FRC-101 & 22.0 & 5667 & 13.1 & 13.2 & 25.0 & 549.3 & 550.9\\
FRC-50 & 25.3 & 6534 & 16.4 & 16.5 & 34.5 & 676.3 & 677.1\\
HN-1 & 29.7 & 7672 & 20.8 & 20.8 & 33.2 & 889.1 & 889.1\\
HN-2 & 15.1 & 3904 & 6.2 & 6.7 & 14.5 & 280.7 & 283.7\\
HN-2-hn & 8.9 & 2300 & 0.0 & 2.5 & 4.5 & 42.8 & 71.9\\
HN-3 & 10.6 & 2740 & 1.7 & 3.3 & 11.9 & 94.1 & 109.3\\
HN-4 & 16.5 & 4254 & 7.6 & 8.0 & 21.2 & 323.7 & 326.4\\
\hline
\end{tabular}
\caption{Métricas de Conteo, caso binario, para los modelos entrenadosEl promedio real del conteo de animales en el conjunto de test es $\mbox{M}(C^*) = $8.9 y la suma de los conteos es $\Sigma(C^*) = 2999$}
\end{table}