In [1]:
import os
import pandas as pd
from pathlib import Path


if Path.cwd().name == "notebooks":
    os.chdir("..")

In [2]:
detections = pd.read_csv("data/test_results/herdnet_v2_hn2/detections.csv")
display(detections)

print("unique images:", detections["images"].nunique())
print(detections["labels"].isna().sum())

,images,count_1,count_2,count_3,count_4,count_5,count_6,labels,scores,dscores,x,y,species
0,S_07_05_16_DSC00094.JPG,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,S_07_05_16_DSC00162.JPG,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,S_07_05_16_DSC00163.JPG,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,S_07_05_16_DSC00307.JPG,1,2,0,4,0,0,1.0,0.744793,0.280863,1963.0,167.0,Alcelaphinae
4,S_07_05_16_DSC00307.JPG,1,2,0,4,0,0,2.0,0.531488,0.263985,1692.0,282.0,Buffalo
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2313,42c89ea14cbcc5b6a90333988b6acac6f49371ed.JPG,0,0,0,0,0,10,6.0,0.999857,0.340915,2596.0,805.0,Elephant
2314,42c89ea14cbcc5b6a90333988b6acac6f49371ed.JPG,0,0,0,0,0,10,6.0,0.998478,0.334957,2367.0,808.0,Elephant
2315,4310a4722c6ff3128e2595b0dbfcaa95ea13d9c5.JPG,0,0,0,0,0,3,6.0,0.369337,0.101546,1132.0,321.0,Elephant
2316,4310a4722c6ff3128e2595b0dbfcaa95ea13d9c5.JPG,0,0,0,0,0,3,6.0,0.999537,0.235792,1070.0,691.0,Elephant
2317,4310a4722c6ff3128e2595b0dbfcaa95ea13d9c5.JPG,0,0,0,0,0,3,6.0,0.999529,0.287191,1078.0,692.0,Elephant

unique images: 258
18

In [3]:
gt_boxes = pd.read_csv("data/groundtruth/csv/test_big_size_A_B_E_K_WH_WB-fixed-header.csv")
gt_boxes["gt_x"] = (gt_boxes["x_min"] + gt_boxes["x_max"]) * 0.5
gt_boxes["gt_y"] = (gt_boxes["y_min"] + gt_boxes["y_max"]) * 0.5
gt_boxes["gt_width"] = gt_boxes["x_max"] - gt_boxes["x_min"]
gt_boxes["gt_height"] = gt_boxes["y_max"] - gt_boxes["y_min"]
display(gt_boxes.head(5))
print("unique images:", gt_boxes["images"].nunique())

,images,x_min,y_min,x_max,y_max,labels,gt_x,gt_y,gt_width,gt_height
0,S_07_05_16_DSC00094.JPG,5835,593,5890,660,3,5862.5,626.5,55,67
1,S_07_05_16_DSC00162.JPG,1001,624,1057,707,2,1029.0,665.5,56,83
2,S_07_05_16_DSC00162.JPG,773,573,839,647,2,806.0,610.0,66,74
3,S_07_05_16_DSC00163.JPG,1277,2760,1333,2834,2,1305.0,2797.0,56,74
4,S_07_05_16_DSC00163.JPG,1052,2701,1113,2787,2,1082.5,2744.0,61,86

unique images: 258

In [4]:
gt_by_img = gt_boxes["images"].value_counts().reset_index()
detections_by_img = detections["images"].value_counts().reset_index()

merged_cnts = gt_by_img.merge(detections_by_img, on="images")
merged_cnts

                                           images  count_x  count_y
0                         S_07_05_16_DSC00403.JPG      144      135
1                         S_07_05_16_DSC00402.JPG       96       89
2                         S_07_05_16_DSC00523.JPG       84       55
3                         S_07_05_16_DSC00404.JPG       83       81
4                         S_07_05_16_DSC00524.JPG       51       46
..                                            ...      ...      ...
253  225e227d92912adfd5ecd51e45f9cab35cc98ef3.JPG        1        6
254  222128ba0a6d57b80cf6d18d6fcba67ae51886b1.JPG        1        4
255  20e3f6cfc3877f9326f23db1ad1bb445521bb1f2.JPG        1        5
256  2093513f05c4d22f0e754ebfbbbe79e8d56d184b.JPG        1        1
257                       S_07_05_16_DSC00094.JPG        1        1

[258 rows x 3 columns]

In [8]:
image = "39220a3bb1a3f74175d10221fce6926bb66969bf.JPG"
gt_df = gt_boxes[gt_boxes["images"] == image].sort_values("gt_x")
gt_df[["images", "gt_x", "gt_y", "labels"]]

                                            images    gt_x    gt_y  labels
2273  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   499.5  2324.0       6
2272  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   665.5  1615.0       6
2271  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   705.5  1591.0       6
2270  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG  1532.5  1867.0       6
2269  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG  1547.0  1825.5       6
2268  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG  1556.5  1631.5       6

In [7]:
# !ls -lrt data/
gt_bb_v2 = pd.read_csv("data/gt-preprocessed/csv/test_big_size_A_B_E_K_WH_WB-points.csv")
gt_df_v2 = gt_bb_v2[gt_bb_v2["images"] == image].sort_values("x")
gt_df_v2

                                            images     x     y  labels
2273  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   499  2324       6
2272  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   665  1615       6
2271  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   705  1591       6
2270  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG  1532  1867       6
2269  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG  1547  1825       6
2268  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG  1556  1631       6

In [9]:
detect_df = detections[detections["images"] == image]
detect_df = detect_df[~detect_df["labels"].isna()].sort_values("x")
detect_df[["images", "x", "y"]]

                                            images       x       y
2273  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   115.0   401.0
2274  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   351.0   793.0
2275  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG   772.0   911.0
2277  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG  1031.0  1810.0
2276  39220a3bb1a3f74175d10221fce6926bb66969bf.JPG  2003.0  1629.0

In [28]:
n_gt = len(gt_df)
n_detects = len(detect_df)
n_gt, n_detects

(37, 42)

In [53]:
import numpy as np

tol = 0.50  # 50% in

hit_mat = np.zeros(shape=(n_gt, n_detects), dtype=np.bool)
dist_mat = np.zeros(shape=(n_gt, n_detects), dtype=float)

In [54]:
for gt_i in range(n_gt):
    gt_row = gt_df.iloc[gt_i]
    hit_x_min = gt_row["gt_x"] - 0.5 * tol * gt_row["gt_width"]
    hit_x_max = gt_row["gt_x"] + 0.5 * tol * gt_row["gt_width"]
    hit_y_min = gt_row["gt_y"] - 0.5 * tol * gt_row["gt_height"]
    hit_y_max = gt_row["gt_y"] + 0.5 * tol * gt_row["gt_height"]

    det_x = detect_df["x"].values
    det_y = detect_df["y"].values

    for d_j in range(n_detects):
        det_x = detect_df["x"].iloc[d_j]
        det_y = detect_df["y"].iloc[d_j]
        hit_mat[gt_i, d_j] = (
            (hit_x_min <= det_x)
            & (det_x <= hit_x_max)
            & (hit_y_min <= det_y)
            & (det_y <= hit_y_max)
        )

    # dist_mat[gt_i, :] = np.sqrt( (gt_row['gt_x'] - det_x)**2 + (gt_row['gt_y'] - det_y) ** 2)

In [55]:
hit_x_min

np.float64(5793.0)

In [42]:
hit_x_min <= detect_df["x"].values <= hit_x_max

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()